body {
    background: white;
}

h1 {
    text-align:center;
    font-weight: bold;
    transform: translate(-25px, -175px);
    color:pink;

}

#es {
    transform:translate(-20px,-200px);
    font-weight: bold;
    
}

#logoOne {
    text-align:center;
    width:200px;
    height:auto;
    transform: translate(450px,-40px);
}

h2 {
    float:left;
    text-decoration: underline;
}

#services {
    transform: translate(-100px,50px);
}
 

#contactMe {
    transform:translate(500px,-78px);
}

#book {
    transform: translate(1000px,-165px);
}

#logoTwo {
    width:300px;
    height: auto;
}

#goodMorning {
    width: 300px;
    height:auto;
    transform: translate(-200px,0px);

}


#theyTold {
    width:200px;
    height:auto;
    transform: translate(700px,-500px);
}